* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

/* ----------------------------common-------------------------------- */
.header {
    display: flex;
    padding: 0 20px;
    height: 70px;
    background-color: #ffaaaa;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .ham {
    font-size: 40px;
}

.header .hamMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    overflow: scroll;
    transition: 0.3s;
}

.header .hamMenu .hamClose {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 27px;
}

.header .hamMenu .img {
    display: block;
    width: 100px;
    margin: 36px auto 10px;
    border-radius: 50%;
    overflow: hidden;
}

.header .hamMenu .profile {
    text-align: center;
    color: white;
}

.header .hamMenu .login {
    display: block;
    background-color: yellow;
    width: calc(100% - 40px);
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 30.5px;
    margin: 10px 20px;
}

.header .hamMenu .signup {
    background-color: white;
    width: calc(100% - 40px);
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 30.5px;
    margin: 0 20px 10px;
}

.header .hamMenu .list {
    display: flex;
    margin-left: 20px;
    margin-bottom: 3px;
}

.header .hamMenu .list .hamIcon {
    font-size: 40px;
    margin-right: 23px;
}

.header .hamMenu .list .hamText {
    line-height: 54px;
    color: white;
}

#ham {
    display: none;
}

#ham:checked~.hamMenu {
    left: 0
}

#ham~.hamMenu {
    left: -100%;
    background-color: #ffaaaa;
    z-index: 1;
}

.header .icon {
    font-size: 40px;
}

.header .logo {
    height: 54px;
}

.header .logo img {
    width: auto;
    height: 100%;
}

/* ------------------------------header--------------------------------- */
.wrap {
    margin: 0 20px 150px;
}

.routeBox {
    font-size: 27px;
    margin-bottom: 10px;
}

.routeBox .route {
    display: flex;
}

.routeBox .route i {
    margin-right: 20px;
}

.routeBox .route .text {
    font-size: 20px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
}

/* ---------------------------route------------------------------- */
.productBox {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.productBox .img {
    width: 50%;
    margin-right: 10px;
    border: 1px solid #707070;
    border-radius: 30px;
    overflow: hidden;
}

.productBox .text {
    width: 50%;
    text-align: center;
}

.productBox .text .name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.productBox .text .detail {
    font-size: 12px;
    color: #575757;
    margin-bottom: 10px;
}

.price {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.price>div {
    width: calc(50% - 10px);
    text-align: center;
}

.price>div:first-child {
    margin-right: 20px;

}

.price .order {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.price .order .cont {
    border: 1px solid #707070;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
}

.price .order div:nth-child(2) {
    margin: 0 10px;
    border: none;
    width: auto;
}

.price .how {
    margin-bottom: 5px;
    border: 1px solid #707070;

    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
}

/* ----------------------------product-------------------------------- */
.sideMenu {
    margin-bottom: 20px;
}

.title {
    font-weight: bold;
    margin-bottom: 20px;
}

.product {
    display: flex;
}

.product .name {
    width: 50%;
    margin-right: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    align-items: center;

}

.product .name .img {
    width: 33.333333%;
    margin-right: 10px;
    border: 1px solid #707070;
    border-radius: 50%;
    overflow: hidden;
}

.product .price {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.product .price .countBtn {
    display: flex;
    margin-right: 10px;
}

.product .price .countBtn div {
    border: 1px solid #707070;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
}

.add {
    margin-bottom: 100px;
}

/* ----------------------------menu-------------------------------- */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
}

.footer .footerTop {
    position: relative;
    padding: 10px 0;
}

#list {
    display: none;
}

#list:checked~.listBox {
    height: 108px;
}

.footer .footerTop .list {
    text-align: right;
    display: block;
    margin: 0 20px;
    font-size: 15px;
}

.footer .listBox {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    background-color: white;
    transition: all 0.3s;
}

.footer .listBox .listClose {
    text-align: right;
    display: block;
    margin: 0 20px;
    font-size: 15px;
}

.footer .listBox>div {
    margin: 10px 20px;
    display: flex;
    height: 56px;
    line-height: 56px;
    border: 1px solid #707070;
    box-sizing: border-box;
    padding: 0 20px;
    transition: all 0.3s;
}

.footer .listBox .text {
    display: flex;
    flex: 1
}

.footer .listBox .text .count {
    font-size: 15px;
    margin-left: 10px;
    color: #707070;
}

.footer .footerBottom {
    background-color: #ffaaaa;
    padding: 10px 0;
}

.footer .allPrice {
    margin: 0 20px 10px;
    background-color: white;
    display: flex;
    height: 56px;
    line-height: 56px;
    border: 1px solid #707070;
    box-sizing: border-box;
    padding: 0 20px;
}

.footer .allPrice .text {
    flex: 1
}

.footer .buy {
    margin: 0 20px;
    display: flex;
}

.footer .buy div {
    width: 50%;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    border: 1px solid #707070;
    box-sizing: border-box;
}

.footer .buy .more {
    margin-right: 10px;
}

/* ----------------------------footer-------------------------------- */