* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.href {
    color: #78ECC5
}

/* ---common--- */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 77px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: white;
    transition: all 0.3s;
}

.header .logo {
    width: 250px;
    font-size: 24px;
    margin-left: 50px;
}

.header .gnb {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 30px;
    font-size: 14px;
}

.header .gnb li {
    width: 100px;
    text-align: center;
}


.header .fullDownMenuBox {
    position: fixed;
    top: 77px;
    left: 0;
    width: 100%;
    display: flex;
    background-color: white;
    border-top: 1px solid #ddd;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.header .fullDownMenuBox .fullDownMenu {
    flex: 1;
    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: 14px;
}

.header .fullDownMenuBox .fullDownMenu>div {
    width: 100px;
    text-align: center;
    padding-top: 20px;
}

.header .fullDownMenuBox .fullDownMenu>div>div {
    margin-bottom: 10px;
}

.header .fullDownMenuBox .empty1 {
    width: 250px;
    margin-left: 50px;
}

.header .fullDownMenuBox .empty2 {
    width: 250px;
    margin-right: 50px;
}

.header .lnb {
    display: flex;
    width: 250px;
    font-size: 12px;
    margin-right: 50px;
    align-items: center;
    gap: 10px;
}

.header .lnb i {
    font-size: 15px;
}

.header .searchBack {
    position: absolute;
    top: 77px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: white;
    border-top: 1px solid #ddd;
    transition: all 0.3s;
}

.header .searchBackOpen {
    height: 480px;
}

.header .searchBack .search {
    width: 1394px;
    height: 480px;
    margin: 0 auto;
}

.header .searchBack .search .searchTitle {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.header .searchBack .search .searchActive {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.header .searchBack .search .searchActive .searchInput {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    padding: 0 5px;
    border: 2px solid black;
    transition: all 0.3s;
}

.header .searchBack .search .searchActive .icon {
    font-size: 25px;
    margin-left: 10px;
}

.header .searchBack .search .best {
    margin-top: 15px;
}

.header .searchBack .search .best .bestTitle {
    font-size: 25px;
    font-weight: bold;
}

.header .searchBack .search .best .bestImg {
    margin-top: 15px;
    display: flex;
    gap: 30px;
}

.header .searchBack .search .best .bestImg>div .img {
    width: 150px;
}

.header .searchBack .search .best .bestImg>div .img img {
    width: 100%;
}

/* ---header--- */

.visualMain {
    margin-bottom: 50px;
}

/* ---visualMain--- */

.menuBox {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.menuBox>div {
    margin-right: 10px;
    text-align: center;
}

.menuBox>div:last-child {
    margin-right: 0px;
}

.menuBox>div .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

/* ---menuBox--- */

.productBox {
    width: 1394px;
    margin: 0 auto 120px;
}

.productBox .menu {
    display: flex;
    margin-bottom: 20px;
}

.productBox .menu .nav {
    display: flex;
    flex: 1;
}

.productBox .menu .nav>div>div {
    display: none;
}

.productBox .menu .nav>div .allNav {
    display: block;
}

.productBox .menu .nav>div:first-child {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid gray;
}

.productBox .menu .filterBox {
    display: flex;
}

.productBox .menu .filterBox>div:first-child {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid gray;
}

.productBox .menu .filterBox .more {
    cursor: pointer;
}

.productBox .menu .filterBox .de {
    display: none;
}

.productBox .productGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.scroll {
    display: none;
    opacity: 0;
}

.productBox .productGroup>div .img {
    position: relative;
    width: 338px;
    height: 338px;
    overflow: hidden;
    transition: all 0.5s;
}

.productBox .productGroup>div .img .imgs {
    width: 338px;
    height: 338px;
    overflow: hidden;
    transition: all 0.5s;
}

.productBox .productGroup>div .img .imgs div {
    display: none;
}

.productBox .productGroup>div .img .imgs div:first-child {
    display: block;
}

.productBox .productGroup>div .img .hover {
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.aaaa {
    display: none;
}

.productBox .productGroup>div .img .hover .hoverTitle {
    margin-top: 92.33px;
    font-size: 15px;
    font-weight: bold;
}

.productBox .productGroup>div .img .hover .hoverColor {
    font-size: 12px;
}

.productBox .productGroup>div .img .hover:hover {
    opacity: 1;
    transition: all 0.3s;
}

.productBox .productGroup>div .textBox {
    display: flex;
}

.productBox .productGroup>div .textBox .text {
    flex: 1;
}

.productBox .productGroup>div .textBox .text .price {
    margin-bottom: 10px;
}

.color {
    display: flex;
}

.color div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 3px;
}

.black {
    background-color: rgb(26, 26, 26);
}

.noblack {
    background-color: rgb(71, 71, 71);
}

.blackk {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.yelloww {
    background-color: rgb(255, 255, 137);
}

.pink {
    background-color: pink;
}

.green {
    background-color: green;
}

.white {
    background-color: white;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.tiger {
    background: url(/subpage/img/tiger.png);
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.zebra {
    background-image: url(/subpage/img/zebra.png);
}

.gray {
    background-color: gray;
}

.brown {
    background-color: brown;
}

.purple {
    background-color: purple;
}

#btn {
    display: none;
}

.productBox .productGroup>div .textBox {
    margin-top: 5px;
}

.productBox .productGroup>div .textBox .service {
    position: relative;
}

.productBox .productGroup>div .textBox .service .btnBox {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 0;
    transition: all 0.3s;
    overflow: hidden;
}

.productBox .productGroup>div .textBox .service .btnBox .shopOn,
.productBox .productGroup>div .textBox .service .btnBox .heartOn {
    display: none;
}

.productBox .productGroup>div .textBox .service .btnBox .clickHeart {
    display: block;
}

.productBox .productGroup>div .textBox .service .btnBox div {
    width: 20px;
    height: 20px;
}

.productBox .productGroup>div .textBox .service .btnBox img {
    width: 100%
}

.productBox .productGroup>div .textBox .service .btnBox>div:nth-child(2) {
    margin: 0 5px;
}

#btn:checked~.btnBox {
    display: flex;
}

#btn:checked~.open {
    display: none;
}

/* ---productBox--- */

.fixedBox {
    position: fixed;
    bottom: 50px;
    right: 25px;
}

.fixedBox>div {
    position: relative;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #EBEBEB;
    border-radius: 50%;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: white;
}

.fixedBox>div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fixedBox img {
    width: auto
}

.fixedBox>div:hover {
    border: 2px solid black;
    line-height: 58px;
}

.fixedBox>div .off {
    z-index: 1;
}

.fixedBox>div .on {
    z-index: -1;
}

.fixedBox>div:hover .off {
    z-index: -1;
}

.fixedBox>div:hover .on {
    z-index: 1;
}


.fixedBox .fixedImg .fixedNum {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: white;
    background-color: red;
    text-align: center;
    line-height: 15px;
    font-size: 11px;
}

/* ---fixedBox--- */

.shoppingBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    z-index: 999999;
}

.shoppingBox .shopping {
    display: flex;
    flex-direction: column;
    width: 482px;
    height: 100vh;
    margin-left: auto;
    background-color: white;
    padding: 20px;
}

.shoppingBox .shopping .titleBox {
    display: flex;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

.shoppingBox .shopping .titleBox .title {
    flex: 1;
}

.shoppingBox .shopping .items {
    height: 100vh;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.shoppingBox .shopping .buyBox {
    padding: 30px 0;
}

.shoppingBox .shopping .buyBox .deli {
    display: flex;
    margin-bottom: 10px;
    font-size: 14px
}

.shoppingBox .shopping .buyBox .sum {
    display: flex;
    margin-bottom: 30px;
    font-size: 14px;
}

.shoppingBox .shopping .buyBox>div>div:first-child {
    flex: 1;
}

.shoppingBox .shopping .buyBox .buy {
    background-color: #707070;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 700;
    cursor: pointer;
}

.shoppingBox .shopping .buyBox .more {
    text-align: center;
    height: 40px;
    line-height: 40px;
    border: 1px solid #707070;
    font-weight: 700;
    cursor: pointer;
}

/* ---shoppingBox--- */

.footer {
    padding: 0 50px;
    background-color: black;
    color: white;
}

.footer .footerTop {
    display: flex;
    padding-top: 50px;
    margin-bottom: 90px;
}

.footer .footerTop .logo {
    flex: 1;
}

.footer .footerTop .logo img {
    width: auto
}

.footer .footerTop .menuBox {
    display: flex;
    width: 600px;
}

.searchBox {
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.searchText {
    border: none;
    background-color: black;
    color: white;
}

.searchText:focus {
    outline: none;
}

.footer .footerTop .menuBox .menu {
    flex: 1;
}

.footer .footerTop .menuBox .menu .title {
    font-size: 16px;
}

.footer .footerTop .menuBox .menu div {
    margin-bottom: 15px;
    font-size: 14px;
}

.footer .footerTop .menuBox .menu div:last-child {
    margin-bottom: 0px;
}

.footer .footerBottom {
    width: 100%;
    display: flex;
    font-size: 12px;
    color: #807E7E;
    padding-bottom: 70px;
    align-items: center;
}

.footer .footerBottom .copyright {
    width: 220px;
}

.footer .footerBottom .infoBox {
    width: 100%;
    display: flex;
    border-left: 1px solid #807E7E;
}

.footer .footerBottom .infoBox .info {
    flex: 1;
    margin-left: 50px;
}

.footer .footerBottom .infoBox .info>div {
    display: flex;
}