* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

/* ---------------common---------------------- */
body {
    background-color: #ffaaaa;
}

.logo {
    width: 30%;
    padding: 50% 0 0;
    margin: 0 auto;
}

.loginBox {
    width: 60%;
    margin: 20px auto;
}

.loginBox .id {
    color: rgb(94, 94, 94);
    border-bottom: 1px solid white;
    padding: 5px;
    margin-bottom: 10px;
}

.loginBox .password {
    color: rgb(94, 94, 94);
    border-bottom: 1px solid white;
    padding: 5px;
    margin-bottom: 10px;
}

.loginBox .auto {
    margin-bottom: 10px;
}

.loginBox .loginBtn {
    text-align: center;
    background-color: yellow;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.loginBox .find {
    display: flex;
    font-size: 12px;
    color: rgb(94, 94, 94);
}

.loginBox .find div {
    flex-grow: 1;
    text-align: center;
}

/* ---------------login---------------------- */